.message {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
}

.imageAndText {
    color: #fff;
    display: flex;
    flex-direction: row-reverse;
}

.imageAndText img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.text {
    background-color: #1757be;
    border-radius: 5px 5px 0 5px;
    padding: 10px;
}

.text:after {

}

.name {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-align: right;
}

.messageText {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.time {
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
}
.angle {
    transform: scale(-1, 1);
    position: relative;
    top: 45px;
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgb(255, 255, 255) 15px, rgba(23, 87, 190) 0);
}
