.friendMessage {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
}

.friendImageAndText {
    display: flex;

}

.friendImageAndText img {
    height: 50px;
    width: 50px;

}

.friendText {
    padding: 10px;
    border-radius: 5px 5px 5px 0;
    background-color: rgb(221, 229, 221);
}

.friendText:after {

}

.friendName {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.friendMessageText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.friendTime {
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
}
.angle {
    position: relative;
    top: 45px;
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgb(255, 255, 255) 15px, rgba(221, 229, 221) 0);
}
