.greetingForm {

}

.inputAndButtonContainer {
    display: flex;
}

.error {
    color: #CC0000;
}

.input {
    width: 372px;
    height: 36px;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-size: 16px;
}

.input:focus {
    width: 372px;
    height: 36px;
    border-radius: 5px;
}

.errorInput {
    width: 372px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #CC0000;
}

.button {
    color: white;
    width: 78px;
    height: 36px;
    background: #0066CC;
    border-radius: 3px;
}

.button:focus {
    color: white;
    width: 78px;
    height: 36px;
    background: #0066CC;
    border-radius: 3px;


}

.button:active {
    color: white;
    width: 78px;
    height: 36px;
    background: #0066CC;
    border-radius: 3px;
}

.button:disabled {
    color: white;
    width: 78px;
    height: 36px;
    background: #0066CC;
    opacity: 0.5;
    border-radius: 3px;
}

.text {
    font-family: 'Montserrat';
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {

}