.sendForm {
    display: flex;
    justify-content: space-evenly;

}

.textarea {
    resize: none;
    overflow: hidden;
    width: 976px;
    border-radius: 20px;
    background: #F5F7FB;
    padding: 10px 6px;
}


.button {
    width: 120px;
    height: 40px;
    left: 1090px;
    top: 408px;
    color: white;
    background: #0066CC;
    border-radius: 20px;
}

.button:hover {

}

.button:active {

}
